@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif !important;
  overflow-x: hidden;
  font-size: 16px;
}

.btn {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.section-space {
    padding: 80px 0;
}

.section-space-sm {
    padding: 4rem 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #242f51;
}

p {
  font-size: 16px !important;
  color: #616368;
}